---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="CADlock">
	<main class="max-w-3xl">
		<h1 class="font-serif text-5xl">CADlock</h1>
		<p class="font-sans text-2xl">
			an early diagnosis screening tool for Coronary Artery Disease
		</p>

		<p class="py-6 text-xl">Nisi reprehenderit elit deserunt elit officia qui consequat elit et cupidatat esse eiusmod excepteur ipsum fugiat ipsum commodo laborum aliquip proident esse incididunt reprehenderit magna excepteur veniam aute velit irure consequat quis officia sint occaecat deserunt esse sint laborum aliqua id sunt eu in duis ullamco adipisicing dolor reprehenderit reprehenderit veniam pariatur ad laboris velit excepteur duis consectetur sit reprehenderit ad ut est culpa pariatur sit cupidatat fugiat laboris esse nulla mollit ad excepteur et ipsum id nisi reprehenderit et amet esse sint reprehenderit cupidatat enim cillum esse anim cillum ex tempor cillum tempor exercitation pariatur incididunt nulla ipsum ea.</p>

		<p class="py-6 text-xl">Nisi reprehenderit elit deserunt elit officia qui consequat elit et cupidatat esse eiusmod excepteur ipsum fugiat ipsum commodo laborum aliquip proident esse incididunt reprehenderit magna excepteur veniam aute velit irure consequat quis officia sint occaecat deserunt esse sint laborum aliqua id sunt eu in duis ullamco adipisicing dolor reprehenderit reprehenderit veniam pariatur ad laboris velit excepteur duis consectetur sit reprehenderit ad ut est culpa pariatur sit cupidatat fugiat laboris esse nulla mollit ad excepteur et ipsum id nisi reprehenderit et amet esse sint reprehenderit cupidatat enim cillum esse anim cillum ex tempor cillum tempor exercitation pariatur incididunt nulla ipsum ea.</p>

		<p class="py-6 text-xl">Nisi reprehenderit elit deserunt elit officia qui consequat elit et cupidatat esse eiusmod excepteur ipsum fugiat ipsum commodo laborum aliquip proident esse incididunt reprehenderit magna excepteur veniam aute velit irure consequat quis officia sint occaecat deserunt esse sint laborum aliqua id sunt eu in duis ullamco adipisicing dolor reprehenderit reprehenderit veniam pariatur ad laboris velit excepteur duis consectetur sit reprehenderit ad ut est culpa pariatur sit cupidatat fugiat laboris esse nulla mollit ad excepteur et ipsum id nisi reprehenderit et amet esse sint reprehenderit cupidatat enim cillum esse anim cillum ex tempor cillum tempor exercitation pariatur incididunt nulla ipsum ea.</p>
		<p class="py-6 text-xl">Nisi reprehenderit elit deserunt elit officia qui consequat elit et cupidatat esse eiusmod excepteur ipsum fugiat ipsum commodo laborum aliquip proident esse incididunt reprehenderit magna excepteur veniam aute velit irure consequat quis officia sint occaecat deserunt esse sint laborum aliqua id sunt eu in duis ullamco adipisicing dolor reprehenderit reprehenderit veniam pariatur ad laboris velit excepteur duis consectetur sit reprehenderit ad ut est culpa pariatur sit cupidatat fugiat laboris esse nulla mollit ad excepteur et ipsum id nisi reprehenderit et amet esse sint reprehenderit cupidatat enim cillum esse anim cillum ex tempor cillum tempor exercitation pariatur incididunt nulla ipsum ea.</p>

	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
